.content {
	display: flex;
	flex-direction: column;

	position: relative;
}
.content_header {
	width: 100%;
	height: 3em;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	border: 1px var(--secondary) solid;
	border-top: none;
}
.content_header button {
	height: 100%;
	width: 100%;

	font-size: 1em;
	font-weight: bold;
	background-color: var(--bg0);
	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.content_header button:hover {
	background-color: var(--bg1);
	transition: all 0.25s;
}

.postTemplate {
	overflow: hidden;

	width: 100%;
	height: fit-content;
	border-bottom: var(--default-border);
	padding: 2em;
	display: grid;
	gap: 0.5em;
	grid-template-columns: 3em 1fr;
	grid-template-rows: 1fr;

	grid-template-areas: 'img post';
}
.postTemplate hr {
	width: 100%;
	height: 1px;
	border: none;
	background-color: var(--accent);
}
.postTemplate object {
	width: 3em;
	height: 3em;
	object-fit: contain;
	border-radius: 50%;
}
.postTemplate .post {
	grid-area: post;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-bottom: var(--default-border);
}
.postTemplate .post .post_text {
	width: 100%;
	height: 2em;
	font-size: 1.25em;
	overflow: hidden;
	resize: none;
	background-color: var(--bg0);
	border: none;
	outline: none;
	padding-top: 0.5em;
	justify-content: flex-start;
	color: var(--text3);
}

.post_buttons {
	grid-area: buttons;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	justify-content: flex-end;
	align-items: center;
}
.post_buttons > button {
	background-color: var(--bg0);
	outline: none;
	border: none;
}
.post_buttons svg {
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	background-color: var(--bg0);
}
.postTemplate ul {
	width: 100%;
	height: fit-content;

	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
	overflow: auto;

	grid-column: 2 / 3;
}
.postTemplate ul li {
	width: fit-content;
	height: max-content;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: calc(50% - 0.5em);
}
.postTemplate ul > li > button {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.postTemplate ul > li > button:hover {
	background-color: var(--bg1);
	opacity: 0.5;
	transition: all 0.25s;
}
.postTemplate ul > li > img {
	height: max-content;
	overflow-y: scroll;
	width: max-content;
	object-fit: cover;
	border-radius: 0.5em;
	border: 3px var(--bg5) solid;
}
.postTemplate ul .postTemplate .post div svg:hover {
	transform: scale(1.25);
	transition: all 0.25s;
}
.postButton {
	width: 4em;
	height: 2em;
	font-size: 1em;
	font-weight: bold;
	background-color: var(--primary) !important;
	outline: none;
	border: none;
	border-radius: 5em;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	margin-left: auto;
}
.postButton:hover {
	background-color: var(--secondary);
	transition: all 0.25s;
}

.posts {
	grid-area: post;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.posts > .post {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: 3em 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'avatar post';
	padding: 1em;
	gap: 0.5em;
}

.post > object {
	grid-area: avatar;
	width: 3em;
	height: 3em;
	object-fit: contain;
	border-radius: 50%;
}

.post .userData {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}
.post .postContent {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 100%;
	grid-area: post;
	align-items: center;
}
.post .postContent object {
	object-fit: contain;
	border-radius: 0.5em;
	border: 3px var(--bg5) solid;
}
.post .userData svg {
	width: 1.3em;
	height: 1.3em;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	align-self: center;
	margin-left: auto;
}

.post .postButtons {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;
}
.post .postButtons > button {
	font-size: 0.75em;
	background-color: var(--bg0);
	outline: none;
	border: none;
	border-radius: 5em;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--text3);
}
.post .postButtons > button > svg {
	border-radius: 50%;
	height: 1.5em;
	width: 1.5em;
	fill: none;
}
